body {
  display: grid;
  min-height: 100vh;
}

.hero {
  align-self: start;
}

.footWrapper { 
  align-self: end;
}

.sectionOne__content--text {
  font-size: var(--sub);
  font-family: var(--font-2);
}

.sectionOne__cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: var(--font-2);
  text-align: center;
  gap: 50px;
}

[class^="sectionOne__cards--"] {
  box-shadow: var(--shadow-1);
  display: grid;
  gap: 15px;
  padding: 40px;
  border-radius: 6px;
}

.price {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10px;
}

.amount {
  font-size: var(--h1);
  font-weight: bold;
}

.time {
  font-size: var(--body);
  color: var(--color-dark-75);
}
.info {
  color: var(--color-dark-75);
}