body {
  display: grid;
  min-height: 100vh;
}

.hero {
  align-self: start;
}

.footWrapper { 
  align-self: end;
}

.sectionOne__content--text {
  font-size: var(--sub);
  font-family: var(--font-2);
}

.sectionOne__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}